@page
@using UneContFinancial.Models
@model UneContFinancial.Pages.Notas.EditModel

@{
    ViewData["Title"] = "Notas";
}

<h4>Alterar</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nota.Id" />
            <input type="hidden" asp-for="Nota.NotaFiscal" />
            <input type="hidden" asp-for="Nota.BoletoBancario" />

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mt-2">
                        <label class="control-label">Numero de Identificação</label>
                        <input asp-for="Nota.NumeroIdentificacao" class="form-control" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group mt-2">
                        <label class="control-label">Nome do Pagador</label>
                        <input asp-for="Nota.NomePagador" class="form-control" />
                        <span asp-validation-for="Nota.NomePagador" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Valor</label>
                        <input asp-for="Nota.Valor" class="form-control" />
                        <span asp-validation-for="Nota.Valor" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Data de Emissao</label>
                        <input asp-for="Nota.DataEmissaoNota" class="form-control" />
                        <span asp-validation-for="Nota.DataEmissaoNota" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Data da Cobrança</label>
                        <input asp-for="Nota.DataCobranca" class="form-control" />
                        <span asp-validation-for="Nota.DataCobranca" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Data de Pagamento</label>
                        <input asp-for="Nota.DataPagamento" class="form-control" />
                        <span asp-validation-for="Nota.DataPagamento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Selecione a nota fiscal</label>
                        <input type="file" id="NotaFiscal" name="NotaFiscal" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Selecione o boleto</label>
                        <input type="file" id="BoletoBancario" name="BoletoBancario" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mt-2">
                        <label class="control-label">Selecione o status</label>
                        <select asp-for="Nota.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusNota>()">
                            <option value="">---------------</option>
                        </select>
                        <span asp-validation-for="Nota.Status" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
